[Unit]
Description=Telegram-Member-Booster Service
After=network.target

[Service]
User=ersa
WorkingDirectory=/home/ersa/Telegram-Member-Booster
ExecStart=/bin/bash -c 'source venv_Telegram-Member-Booster/bin/activate && python main.py'
#Restart=always
#RestartSec=5

[Install]
WantedBy=multi-user.target