[Unit]
Description=Timer to start Telegram-Member-Booster service

[Timer]
OnCalendar=*-*-* 09:00:00  
#Persistent=true 

[Install]
WantedBy=timers.target